@import '../../common/stylus/mixin.styl'
.carcontrol{
    .decrease,.add{
        display: inline-block
        padding: 6px
        line-height 24px
        font-size: 24px
        color rgb(0,160,220)
    }
    .count{
        display: inline-block
        padding: 6px
    }
    .add{

    }
}